<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext.about.section | default: about }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.contact.title | default: About Us }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.contact.text | default: "" }}</h3>
        </div>
      </div>
    </div>
  </section>
<!-- End About -->