<!-- Calendar -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].calendar.section | default: "calendar" }}">
    <div class="container flex">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].calendar.title | default: "Calendar" }}</h2>
                <iframe src="https://calendar.google.com/calendar/embed?src=umich.edu_rljmrekj2dmo2qipcfuoq1t0ks%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- End Calendar -->