<!-- Team -->
<section class="page-section" id="{{ site.data.sitetext.collaborators.section | default: 'collaborators' }}" style="padding: 20px 0;">
	<!-- <style>
		html{scroll-behavior: smooth;}
	</style> -->
	{% include header.html %}
	<div class="container">
		<div class="row backlink">
			<ul class="path" >
				<li class="list-inline">
					<a class="js-scroll-trigger" href="./">
						{{ site.title }}
					</a>
				</li>
				<li class="list-inline current-page">
					<a class="js-scroll-trigger" href="{{ page.url }}">
						{{ page.title | capitalize }}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid bg-light">
		<!-- <div class="col-12 col-md-3 col-sm-3 collaborators-menu" style="height: fit-content; background-color:white; margin: 30px 15px;  padding: 55px 0px;">
		{% for collaborator in site.data.collaborators %}
			<a href="#{{ collaborator.groupName }}">
				<ul>
					<li class="list-inline">
						{{ collaborator.groupName }}
					</li>
				</ul>	
			</a>
			{% endfor %}
		</div> -->
		<div class="container">						
			<section class="bg-light collaborator group" id="{{ collaborator.groupName[0] }}">
				<div class="">
					{% for collaborator in site.data.collaborators %}
						<div class="col groupName {{ collaborator.groupName }}">
							<h3>
								{{ collaborator.groupName[0] }}
							</h3>
					</div>
					{% for person in collaborator.people %}
						<div class="col-12 collaborator">
							<div class="row">
								<div class="col-3 collaborator-name">
									<p style=" font-size: 1rem;"> {{ person.name }} </p> 
								</div>
								<div class="col-6 collaborators-position">
									{% for positions in person.position %}
										<span style="font-size: .81rem;"> {{ positions }} </span> <br>
									{% endfor %}
										<span style="font-size: .81rem;"> {{ person.country }} </span>
								</div>	
								<div class="col align-self-end">
									<ul class="list-inline social-buttons ml-auto p-2">
										{% for network in person.social %}
											<li class="list-inline">
												<a href="{{ network.url }}">
												<i class="{{ network.icon }}"></i>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endfor %}
				</div>
			</section>
		</div>
	</div>
</section>
<!-- End Collaborators -->