<!-- Contact -->
  <section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.contact.title | markdownify | default: Contact Us }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.contact.text | default: "" }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form action="https://formspree.io/f/mwkwnngj" method="POST" enctype="multipart/form-data">
            <input type="text" name="name">
            <input type="email" name="_replyto">
            <input type="file" name="attachment">
            <input type="submit" value="Send">
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- End Contact -->