  <!-- Footer -->
  <footer class="footer" style="background-color:">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        </div>
		<!-- Social Media -->
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
		  {% for link in site.data.sitetext.footer.social  %}
            <li class="list-inline-item">
			  {% if link.url %}
              <a href="{{ link.url }}">
                {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
              </a>
			  {% endif %}
            </li>
			{% endfor %}
          </ul>
        </div>
		<!-- Legal -->
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="legal">{{ site.data.sitetext.footer.legal | default: Privacy Policy }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->