<!-- Mission -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].mission.section | default: "mission" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].mission.title | default: "Mission" }}</h2>
        {% if site.data.sitetext[site.locale].mission.text %}
        <h3 class="section-body text-muted" 
          style="font-family:garamond; font-size: 25px; line-height: 1.5">
          {{ site.data.sitetext[site.locale].mission.text }}</h3>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- End Mission -->