<!-- Papers Modals -->
{% for project in site.papers %}
  <div class="papers-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-10 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ project.caption.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <div class="row">
                  <div class="col-md-6">
                    <img class="img-fluid d-block mx-auto" src="{{ project.image }}" alt="{{ project.alt }}">
                  </div>
                  <div class="col-md-6">
                    <ul class="papers-info">
                      <li>
                        <p> <b> Authors:</b> {{ project.info.authors }}</p> 
                      </li>
                      <li>
                        <p> <b> Publication Year:</b> {{ project.info.year }}</p> 
                      </li>
                      <li>
                        <p> <b> Journal:</b> {{ project.info.publication }}</p> 
                      </li>
                      <li>
                          <a class="btn btn-primary my-1 mr-1 btn-sm" href="{{ project.info.doi }}" target="_blank" rel="noopener">
                            DOI
                          </a>
                      </li>
                    </ul> 
                  </div>		
                </div>		
                  <div>{{ project.content }}</div>
                  <button class="btn btn-primary" style="margin-top:50px" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  {{ site.data.sitetext.papers.closebutton | default: "Close Project" }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Papers Modals -->