  <!-- Navigation -->
  <meta charset="UTF-8">
  
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="navbar-brand js-scroll-trigger" href="#">
        <div class="logo">
          <img class="logo"  src="./favicon-transparent.png"/>
        </div>
        {%- if site.logo -%}    
          <div>
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
          </div>
        {%- else -%}
          <div class="col-sm" style="margin: auto;">
            <span style="font-size: 0.8em;">{{ site.title }}</span>
          </div>  
        {%- endif -%}
      </a>
      </div>
    </div>
    
    <div class="col button">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i> MEnu
    </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="col">
        <ul class="navbar-nav text-uppercase ml-auto">
          {% for link in site.translations[site.lang]["nav"] %}
          {%- if link.url -%}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {%- elsif link.section -%}
            {% if link.subsection %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for item in link.subsection %}
                    <a class="dropdown-item" href="{{item['href']}}">{{item["title"]}}</a> 
                  {% endfor %}
                </div>
              </li>
            {%- else -%}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="./#{{ link.section }}">{{ link.title }}</a>
              </li>
            {%- endif -%}
          {%- else -%}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
            </li>
          {%- endif -%}
        {% endfor %}
        <div class="twitter-location-box">
          <li class="nav-item twitter" style="margin: 0 0.5em;">
          <a class="nav-link js-scroll-trigger" target="_blank" href="https://twitter.com/ppsp_team">
            <i class="fab fa-twitter" style="font-size: 1.2em;"></i>
            <!-- <img src="../img/icons/twitter_white@2x.png" alt="PPSP twitter" style="height: 34px; padding-left: 0;"> -->
            <div class="twitter"></div>
            </a>
          </li>
          <li class="nav-item location" style="margin: 0 0.5em;">
            <a class="nav-link js-scroll-trigger" target="_blank" href="https://goo.gl/maps/7E8Upxotto9NGyXdA">
              <i class="fas fa-map-marker-alt" style="font-size: 1.2em;"></i>
                <!-- <img src="../img/icons/location_white@2x.png" alt="PPSP twitter" style="height: 40px; padding-left: 0; ;"> -->
              <div class="location"></div>
            </a>
          </li>
          {% if site.lang == "fr" %}
            {% capture link1 %}..{{ page.url}}{% endcapture %}
            <li class="nav-item"> 
              <a class="nav-link js-scroll-trigger" href="{{ link1 }}" style="font-size: 30px;">{% t global.en %}</a>
            </li>
          {% elsif site.lang == "en" %}
            {% capture link2 %}{{ site.baseurl_root }}fr{{ page.url  }}{% endcapture %}
            <li class="nav-item"> 
              <a class="nav-link js-scroll-trigger" href="{{ link2 }}" style="font-size: 30px;">{% t global.fr %}</a>
            </li>
          {% endif %}
        </div>
      </ul>
      </div>
      
    </div>
  </div>
</nav>
  <!-- End Navigation -->
  <!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="row intro-text">
      {% assign lang = site.lang %}
      <div style="margin: auto 0px;">
        <img src="../assets/img/logo-transparent.png" class="header-logo" alt="ppsp logo">
      </div>
       {%- if site.data.sitetext.header.title -%}
      <div class="col-8 mx-auto" style="margin: auto 0px;">
        <div class="row mx-auto intro-lead-in">{{ site.data.sitetext.header.title[lang] | markdownify }}</div>
        {%- endif -%}
        {%- if site.data.sitetext.header.text -%}
        <div class="row mx-auto intro-heading">{{ site.data.sitetext.header.text[lang] | markdownify }}</div>
        {%- endif -%}
        <h1 class="display-1"> {{ page.title.language | | upcase }} </h1>
      </div>
    </div>           
    {%- if site.data.sitetext.header.button -%}
    <div class="row">
      <div class="col mx-auto">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button[lang] }}</a>
      </div>
      
    {%- endif -%}
    </div>
      
  </div>
</header>
  <!-- End Header -->