  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
	  <!-- {%- if site.data.sitetext.header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext.header.title | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext.header.text | markdownify }}</div>
	  {%- endif -%} -->
    {%- if site.data.sitetext.header.button -%}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a>
	  {%- endif -%}
      </div>
    </div>
  </header>
  <!-- End Header -->