  {% include nav.html %}
  
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
	  {%- if site.data.sitetext.header.title -%}
        <h2 class="intro-lead-in">{{ site.data.sitetext.header.title }}</h2>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.text -%}
        <h1 class="intro-heading text-uppercase">{{ site.data.sitetext.header.text }}&nbsp;<span class="heading-suffix">{{ site.data.sitetext.header.suffix }}</span></h1>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.subtext -%}
        <h5 class="intro-subheading">{{ site.data.sitetext.header.subtext }}</h5>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.button -%}
        <p><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a></p>
	  {%- endif -%}
      </div>
    </div>
  </header>
  <!-- End Header -->