<!-- Papers Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.papers.section | default: 'papers' }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.papers.title[lang] | default: "Papers" }}</h2>
        <h3 class="section-subheading text-muted" style="margin-bottom: 40px;">{{ site.data.sitetext.papers.text[lang] }}</h3>
      </div>
    </div>
      <!--Carousel Wrapper-->
      <div class="container carousel slide carousel-multi-item" id="papers-carousel"  data-ride="carousel">
      <!--Slides-->
        <div class="carousel-inner" role="listbox">          
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row">
              {% assign projects = site.data.highlights %}
              {% for project in projects limit:6  %}
              {% if forloop.index <= 3  %}
                <div class="col-md-3 papers-item">
                  <div class="mx-auto text-center" style="height: 110px;">
                    <a class="papers-link" data-toggle="modal" href="#p{{ forloop.index }}">
                      <div class="papers-hover">
                        <div class="papers-hover-content">
                          <i class="{{ site.data.style.papers-icon | default: 'fas fa-plus fa-3x'}}"></i>
                        </div>  
                      </div>
                      <div class="card-img">
                          <img class="card-img-top" src="{{ project.image }}" alt="{{ project.alt }}">
                      </div>
                    </a>
                  </div>
                  <div class="card-body">
                      <div class="col-12 papers-caption">
                        <!-- <div class="col-12" style="height: 100px;"> -->
                          <h5 class="card-title">{{ project.title.en }}</h5>
                          <p class="text-muted" style="position: absolute; top: 8em; width: max-content;">{{ project.journal }}</p>
                        <!-- </div> -->
                      </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            </div>   
          </div>   
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item ">
            <div class="row">
              {% for project in site.data.highlights limit:6 %}
                {% if forloop.index > 3  %}
                <div class="col-md-3 papers-item">
                  <div class="mx-auto text-center" style="height: 110px;">
                    <a class="papers-link" data-toggle="modal" href="#p{{ forloop.index }}">
                      <div class="papers-hover">
                        <div class="papers-hover-content">
                          <i class="{{ site.data.style.papers-icon | default: 'fas fa-plus fa-3x'}}"></i>
                        </div>  
                      </div>
                      <div class="card-img">
                          <img class="card-img-top" src="{{ project.image }}" alt="{{ project.alt }}">
                      </div>
                    </a>
                  </div>
                  <div class="card-body">
                      <div class="col-12 papers-caption">
                        <!-- <div class="col-12" style="height: 100px;"> -->
                          <h5 class="card-title">{{ project.title.en }}</h5>
                          <p class="text-muted" style="position: absolute; top: 8em; width: max-content;">{{ project.journal }}</p>
                        <!-- </div> -->
                      </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
              </div>
            </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
      <!--Controls-->
      <div class="text-center">
        <a class="carousel-control left" href="#papers-carousel" data-slide="prev"><i class="far fa-arrow-alt-circle-left" style="margin: 10px;  font-size: x-large;"></i></a>
        <a class="carousel-control right" href="#papers-carousel" data-slide="next"><i class="far fa-arrow-alt-circle-right" style="margin: 10px; font-size: x-large;"></i></a>
      </div>
      <!--/.Controls-->
      <!--/.Carousel Wrapper-->
   
      <div class="row">
      <div class="col-sm text-center">
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href=publications>{{ site.data.sitetext.papers.buttonText[lang] }}</a>
    </div> 
  </div>
  </div> 
</section>
{% include modals.html %}