<!-- Papers Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.papers.section | default: "papers" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="height: 140px;">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.papers.title | markdownify | default: "Papers" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.papers.text | markdownify }}</h3>
      </div>
    </div>


          <!--Carousel Wrapper-->
  <div class="col-lg-11 carousel slide carousel-multi-item" id="multi-item-example"  data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
            <!--First slide-->
        
          
    <!--/.First slide-->
        <!--Slides-->
        <div class="carousel-item active">
          <div class="row">
            {% for project in site.papers %}
              {% if forloop.index <= 3  %}
                <div class="col-md-12 col-sm-4 papers-item">
                  <!-- <div class="card mb-2"> -->
                    <a class="papers-link" data-toggle="modal" href="#p{{ forloop.index }}">
                      <div class="papers-hover">
                        <div class="papers-hover-content">
                          <i class="{{ site.data.style.papers-icon | default: "fas fa-plus fa-3x" }}"></i>
                        </div>
                      </div>
                      <div>
                        <img class="card-img-top" src="{{ project.caption.thumbnail }}" alt="">
                      </div>
                    </a>
      
                  <div class="card-body">
                    <div class="papers-caption">
                      <h4 class="card-title">{{ project.caption.title }}</h4>
                      <p class="text-muted">{{ project.caption.subtitle }}</p>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
              {% endif %}
            {% endfor %}
          </div>
        </div>
      
         <!--/.Second slide-->

  
    <!--Second slide-->
      <!--Slides-->
  <div class="carousel-item ">
    <div class="row">
      {% for project in site.papers %}
        {% if forloop.index > 3  %}
          <div class="col-md-12 col-sm-4 papers-item">
            <!-- <div class="card mb-2"> -->
              <a class="papers-link" data-toggle="modal" href="#p{{ forloop.index }}">
                <div class="papers-hover">
                  <div class="papers-hover-content">
                    <i class="{{ site.data.style.papers-icon | default: "fas fa-plus fa-3x" }}"></i>
                  </div>
                </div>
                <div>
                  <img class="card-img-top" src="{{ project.caption.thumbnail }}" alt="">
                </div>
              </a>

            <div class="card-body">
              <div class="papers-caption">
                <h4 class="card-title">{{ project.caption.title }}</h4>
                <p class="text-muted">{{ project.caption.subtitle }}</p>
              </div>
            </div>
          </div>
        <!-- </div> -->
        {% endif %}
      {% endfor %}
    </div>
  </div>

   <!--/.Second slide-->
  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<div class="row">
  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href=publications>{{ site.data.sitetext.papers.buttonText }}</a>
</div>

</div>
  
  </div>
</section>
{% include modals.html %}