<!-- Papers -->
<section class="bg-light" id="{{ site.data.sitetext.papers.section | default: "papers" }}">
  <h1 class="mt-4">Publications</h1>
    <div class="container"></div>
      {% for project in site.papers %}
        <div class="row pubitem">
          <div class="col-md-12 col-sm-12">
            <div class="pubtitle">
              <a class="papers-link" target="_blank" href="{{ project.info.doi }}">
                {{ project.caption.title }}
              </a>
            </div>
          <div class="pubauthors">
            {{ project.info.authors }}
          </div>
          <div class="pubinfo">
            {{ project.info.publication }}, {{ project.info.year }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Papers -->
