<!-- Team -->
<section class="team-section" id="{{ site.data.sitetext[site.locale].team.section | default: "team" }}">
<div class="container">
  <div class="row">
	<div class="col-xl-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].team.title }}</h2>
	  <h3 class="section-subheading team-member">{{ site.data.sitetext[site.locale].team.text }}</h3>
	</div>
  </div>
  <div class="row">
  {% for person in site.data.sitetext[site.locale].team.people %}
	<div class="col-sm-3">
	  <div class="team-member">
		<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
		<h4>{{ person.name }}</h4>
		<p class="team-member">{{ person.role }}</p>
	  </div>
	</div>
  {% endfor %}
  </div>
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large team-member">{{ site.data.sitetext[site.locale].team.subtext | markdownify }}</div>
	</div>
  </div>
</div>
</section>
<!-- End Team -->