<!-- Work -->
<section class="bg-light page-section" id="{{ site.data.sitetext.work.section | default: work}}"  style="padding: 50px; margin-top: 90px;">
   
  
  <div class="container">
        <div class="position-relative text-center">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" onclick=showTeam() checked >
                <label class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="btncheck1" for="btnradio1">Team</label>
            
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick=showCollaborators()>
                <label class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="btncheck1" for="btnradio2">Collaborators</label>
            </div>
        </div>        
      </div>
</section>
    <!-- End Work -->