---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}
<section class="page-section">
    <div class="container" id="pagecontainer">
        <div class="col-lg-12 text-center row">
            <h1 class="section-heading text-uppercase">{{page.name}}</h2>
        </div>
        <div class="row">
            {{ content }}
        </div>
        <div class="row category-posts">
            {% assign filtered_posts = site.posts | where: 'category', page.name %}
            {%for post in filtered_posts%}
                <div class="col-md-3">
                    <a class="portfolio-link" href="{{post.url | relative_url}}">
                        <img class="img-fluid" src={{"assets/img/Navitas.png" | absolute_url}} alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.summary }}</p>
                      </div>
                </div>
            {%endfor%}
        </div>
    </div>    
</section>