---
---
<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top" style="background-color:rgb(173, 173, 173);">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src={{"assets/js/jquery.min.js" | absolute_url}}></script>
	  <script src={{"assets/js/bootstrap.bundle.min.js" | absolute_url}}></script>

	  <!-- Plugin JavaScript -->
	  <script src={{"assets/js/jquery.easing.min.js" | absolute_url}}></script>

	  <!-- Contact form JavaScript -->
	  <script src={{"assets/js/jqBootstrapValidation.js" | absolute_url}}></script>
	  <script src={{"assets/js/contact_me.js" | absolute_url}}></script>

	  <!-- Custom scripts for this template -->
	  <script src={{"assets/js/agency.min.js" | absolute_url}}></script>

  </body>
</html>