---
layout: page
---
{% include nav.html %}

<section class="page-section">
    <div class="container" id="pagecontainer">
        <div class="row">
            <div class="col-lg-3 portfolio-item">
                <div class="text-center">
                    <img class="img-fluid" src={{page.image | absolute_url}} alt="">
                    <div class="post-caption">
                        <h1>{{page.title}}</h1>
                        <h4 class="text-muted">{{page.summary}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {{content}}
            </div>
        </div>
    </div>
</section>