.codex-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: $white;
    color: antiquewhite;
    h4 {
      margin: 0;
      text-transform: none;
    }
    p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      @include serif-font;
    }
  }

.codex-link {
    &:hover {
        background-color: $primary;
      }
}