.collabinfo{
  margin-top: 30px;
    li{
        list-style-type: none;
    }
}
.masthead{
    height: 20vw;
    background-image: url(../img/background-header.png);
    @media(max-width:425px) {
    height: 150px;
    }
    .section-heading{
      color: #f3f3f3f2;
      font-size: 2.2em;
    }
    .masthead-title{
      top: 450px;
      position: sticky;              
      .display-1{
        font-size: 5vw;
      font-weight: 600;
      color: #f8f9fa;
      }
    }
}
