// Styling for newsletter sign-up section
#newsletter iframe {
    width: 480px;
    height: 320px;
}
@media(max-width: 480px) {
    #newsletter iframe {
        width: 300px;
    }
}

div.container.flex {
    display: flex;
    justify-content: center;
}