// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
.btn {
  margin: 20px;
  display: block;
  width: fit-content;
}
.btn-primary{
  // min-width: fit-content;
  margin: auto;
}
#team{
  .btn-primary{
    // min-width: fit-content;
    margin: 10px;
  }
}
